*{
  margin: 0;
}
nav{
  color: #eef7f9;
  margin: 15px;
  border-radius: 15px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
  background: #263d42;
}
.logo{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: 30px;
}
body{
  background-color: #dbf1f6;
}
a{
  text-decoration: none;
  color: rgb(255, 254, 254);
}

.divert{
  display: flex;
  gap: 20px;
}

.sign {
  font-size: 20px;
  background-color: #a5e1e1;            
  padding: 10px 25px;        /* Slightly more horizontal padding for the pill shape */
  border-radius: 10px;       /* High value creates the "pill" effect */
  border: none;              /* Removes the outline from your previous style */
  font-family: sans-serif;   
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.sign a{
  color: #000;
}